<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <div class="navbar-brand" href="#">Posts & Comments App</div>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                {% if session.logged_in %}
                    <li class="nav-item">
                        <a class="nav-link" href="/posts/">Posts</a>
                    </li>
                {% endif %}
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                {% if session.logged_in %}
                    <li class="nav-item">
                        <img
                            src="{{ url_for('static', filename='images/' ~ session.username ~ '.jpg') }}"
                            width="30"
                            class="user-img rounded-circle mr-2"
                        >
                        <span class="text-light">{{ session.firstName ~ ' ' ~ session.lastName }}</span>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/logout/">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login/">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
