{% extends 'layout.html' %}

{% block body %}
    <a href="/post/{{ post.id }}/">Back to Post</a>

    <div
        id="comments-base-container"
        class="container mt-5"
        data-current-user="{{ session.user_id }}"
        data-opened-date="{{ today.strftime('%Y-%m-%d %H:%M:%S') }}"
    >
        <div class="new-comments-banner alert alert-success" style="display: none;">
            There <span class="new-comments-count"></span> new <span class="comment-word-plural-single"></span>. Click
            <a href="#" class="new-comment-anchor">here</a> to view.
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <div class="headings mb-3">
                    <h5>All Comments(<span id="all-comments-count">{{ comments | length }}</span>) for <i>{{ post.title }}</i></h5>
                    {% if comments | length != 0 %}
                    {% else %}
                        <h5 id="no-comments-text-row">There is no comment for <i>{{ post.title }}</i></h5>
                    {% endif %}
                </div>

                {% if comments | length != 0 %}
                    {% for comment in comments %}
                        <div id="comment-card-{{ comment.commentID }}" class="card p-3 mt-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="user d-flex flex-row align-items-center">
                                    <img
                                        src="{{ url_for('static', filename='images/' ~ comment.username ~ '.jpg') }}"
                                        width="30"
                                        class="user-img rounded-circle mr-2"
                                    >

                                    <span>
                                        <small class="font-weight-bold text-primary">
                                            {{ comment.firstName ~ ' ' ~ comment.lastName }}
                                        </small>
                                    </span>
                                </div>
                                <small>{{ comment.commentDate.strftime('%Y-%m-%d %H:%M:%S') }}</small>
                            </div>

                            <div class="action mt-2">
                                {{ comment.userComment | safe }}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                <div id="new-added-comments"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block after_footer %}
    <script src="{{ url_for('static', filename='js/comments.js') }}"></script>
{% endblock %}