{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Welcome To Posts & Comments App</h1>

        <p class="lead">
            This application is built on the Python Flask framework. It has post single page from where user can add
            comment. Application also has comments overview and post overview pages.
        </p>

        <p class="lead">
            This application can give opportunity to Gevorg be a part of PMI big team. Let's go ahead and see can it
            becomes true.
        </p>

        {% if session.logged_in == NULL %}
            <a href="/login" class="btn btn-success btn-lg">Login</a>
        {% endif %}
    </div>
{% endblock %}