{% extends 'layout.html' %}

{% block body %}
    <h1>Posts</h1>

    <ul class="list-group">
        {% for post in posts %}
            <li class="list-group-item">
                <h4>{{ post.title }}</h4>
                <a href="/post/{{ post.id }}/" class="btn btn-success btn-sm">View Post</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}