{% extends 'layout.html' %}

{% block body %}
    <a href="/posts/">Back to Posts</a>

    <h1>{{ post.title }}</h1>
    <small>Written on {{ post.created.strftime('%Y-%m-%d') }}</small>

    <hr>

    <div>
        {{ post.description | safe }}
    </div>

    <a href="/comments/{{ post.id }}" class="btn btn-success btn-sm">Show Comments</a>

    <hr>

    <h3>Add Comment</h3>

    <div id="typing-note-container" class="alert alert-info"></div>

    {% from "includes/_formhelpers.html" import render_field %}

    <form id="add-comment-form" method="POST" action="">
        <div class="form-group">
            {{ render_field(form.comment_body, class_="form-control", id="editor") }}
        </div>

        <input class="current-user-first-name" type="hidden" value="{{ session.firstName }}">
        <input class="current-user-id" type="hidden" value="{{ session.user_id }}">
        <input class="current-post-id" type="hidden" value="{{ post.id }}">

        <input id="comment-form-submit-btn" class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock %}

{% block after_footer %}
    <script src="//cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>

    <script src="{{ url_for('static', filename='js/single-post.js') }}"></script>
{% endblock %}